body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
}

.color {
    color: chartreuse;
}

section {

    display: flex;
}


.half-width {

    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

.link-bottom {
    text-decoration: none;

    background-image: linear-gradient(orange, tomato);
    color: white;

    padding: 10px 40px;
    border-radius: 5px;

}